.cursor{
  cursor: pointer;
}

/* #5385ea */
.shadow{
  border-radius: 43px;
  background: #1b2450;
  box-shadow:  35px 35px 36px #121836,
              -35px -35px 36px #24306a;
}

.input{
  border-radius: 50px;
  outline: none;
  color: black;
  padding: 2px 6px;
  width: 150px;
  font-weight: 400;
  padding-bottom: 2px;
}


.main::-webkit-scrollbar, .col-pds::-webkit-scrollbar {
  width: 4px;
}

.main::-webkit-scrollbar-track, .col-pds::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.main::-webkit-scrollbar-thumb, .col-pds::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.main::-webkit-scrollbar-thumb:hover .col-pds::-webkit-scrollbar-thumb:hover{
  background: #555;
}